
.main-header {
  height: 500px;
  background-image: url('../img/banniere-vap-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-header {
  height: 375px;
  background-color: $green;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

.hero-unit {
  border: solid 1px $green;
  background-color: rgba(255, 255, 255, .9);
}

.navbar ul li a {
  font-size: 22px;
}

h2 + hr {
  border-top: solid 1px $green;
}
h3 + hr {
  margin-left: 0;
  width: 50%;
}

/* Page accueil */
  #why-steam .card-body header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #why-steam .fas {
    font-size: 37.5px;
    color: $green;
  }

  #why-steam .card-body h4 {
    margin: 0 0 0 15px;
  }

  #why-steam .card-body p {
    text-align: justify;
  }

/* Page particuliers */
.categories-voitures .card-title {
  display: block;
  height: $h5-font-size * 2;
  margin-bottom: 0;
}
.categories-voitures .card-body {
  height: 150px;
}
.categories-voitures img {
  height: 50px;
}
.services-detail {
  margin-left: 15px;
}