
.main-header {
  height: 500px;
  background-image: url('../img/banniere-vap-mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-header {
  height: 375px;
  background-color: $green;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

.hero-unit {
  border: solid 1px $cyan;
  background-color: rgba(255, 255, 255, .9);
}

.navbar ul li a {
  font-size: 22px;
}

h2 + hr {
  border-top: solid 1px $cyan;
}
h3 + hr {
  margin-left: 0;
  width: 50%;
}

section {
  margin-bottom: 1em;
}

.why-steam .card-body header {
  display: flex;
  align-items: center;
  text-align: center;
}
.why-steam .fas {
  font-size: 37.5px;
}
.why-steam .card-body h4 {
  margin: 0 0 0 15px;
}
.why-steam .card-body p {
  text-align: justify;
}

  .why-steam .fas {
    color: $cyan;
  }
  .why-steam .card-body header {
    justify-content: center;
  }

.car-categories .card-header, {
  height: 125px;
}
.car-categories .card-body {
  height: 150px;
}
.company-types .card-header, {
  height: 75px;
}
.company-types .card-title {
  margin-bottom: 0;
}
.company-types .card-body {
  padding: 0;
}
.car-categories img {
  height: 50px;
}

.services-detail #collapseExample.collapse:not(.show) {
  display: block;
  height: 12rem;
  overflow: hidden;
}

.services-detail #collapseExample.collapsing {
  height: 12rem;
}

.services-detail a.collapsed::after {
  content: 'Voir plus...';
}

.services-detail a:not(.collapsed)::after {
  content: 'Voir moins...';
}