---
layout: default
title: Particuliers
permalink: /particuliers/
---
<section>
  <h2>{{ site.data.individual.sections.introduction.title }}</h2>
  <hr />
  <p>
    {{ site.data.individual.sections.introduction.text | markdownify }}
  </p>
</section>

{% include common-info.html %}

<section class="container">
  <h3>{{ site.data.individual.sections.pricing.title }}</h3>
  <hr />
  <div id="car-categories" class="row card-group car-categories">
    {% for item in site.data.individual.sections.pricing.items %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card text-center">
        <div class="card-header d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">{{ item.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ item.subtitle }}</h6>
        </div>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          {% for item in item.images %}
          <img src="{{ site.baseurl }}/{{ item.source }}" alt="{{ item.alt }}">
          {% endfor %}
        </div>
        <div class="card-footer">
          <ul class="list-group">
            {% for item in item.prices %}
            <li class="list-group-item"><span class="float-left">Intérieur : </span><span class="float-right">{{ item.in }} €</span></li>
            {% if item.in-out %}
            <li class="list-group-item"><span class="float-left">Intérieur/extérieur : </span><span class="float-right">{{ item.in-out }} €</span></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-justify">
      <div class="alert alert-info" role="alert">
        {{ site.data.individual.sections.pricing.note | markdownify }}
      </div>
    </div>
  </div>
</section>