---
title: Particuliers
layout: default
permalink: /particuliers/
---

<h2>{{ site.data.individual.title }}</h2>
<hr />
<p>
  {{ site.data.individual.introduction | markdownify }}
</p>
<div class="container">
  <div class="row card-group categories-voitures">
  {% for item in site.data.individual.pricing %}
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card text-center">
      <div class="card-header">
        <h5 class="card-title d-flex justify-content-center align-items-center">{{ item.title }}</h5>
      </div>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        {% for item in item.images %}
        <img src="{{ site.baseurl }}/{{ item.source }}" alt="{{ item.alt }}">
        {% endfor %}
      </div>
      <div class="card-footer">
        <div class="badge-info">{{ item.price }} €</div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

<h3>{{ site.data.individual.detail.title | markdownify }}</h3>
<hr>
<div class="services-detail">
  {% for item in site.data.individual.detail.services %}
    <h4>{{ item.title }}</h4>
    <p>{{ item.description | markdownify }}</p>
  {% endfor %}
</div>