---
title: Professionnels
layout: default
permalink: /professionnels/lavage-auto/
---

<h2>{{ site.data.professional.title }}</h2>
<hr />
<p class="text-justify">
  {{ site.data.professional.introduction | markdownify }}
</p>

<section>
  <h3>{{ site.data.common-info.services.detail.title | markdownify }}</h3>
  <hr>
  <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Afficher le détail
  </a>
  <div class="services-detail collapse" id="collapseExample">
    {% for item in site.data.common-info.services.detail.tasks %}
    <h4>{{ item.title }}</h4>
    <p>{{ item.description | markdownify }}</p>
    {% endfor %}
  </div>
</section>

<section>
  <div class="card">
    <div class="card-body border border-warning">
        <h4 class="card-title">{{ site.data.common-info.services.prerequisite.title }}</h4>
        <p class="card-text">{{ site.data.common-info.services.prerequisite.text | markdownify }}</p>
    </div>
  </div>
</section>

<div class="container">
  <div class="row card-group company-types">
  {% for item in site.data.professional.company-types %}
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card text-center">
      <div class="card-header d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title">{{ item.title }}</h5>
      </div>
      <div class="card-body">
        {% for item in item.image %}
        <img src="{{ site.baseurl }}/{{ item.source }}" class="img-fluid" alt="{{ item.alt }}">
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>