---
layout: default
title: Professionnels
permalink: /professionnels/
---
<section>
  <h2>{{ site.data.professional.sections.introduction.title }}</h2>
  <hr />
  <p class="text-justify">
    {{ site.data.professional.sections.introduction.text | markdownify }}
  </p>
</section>

{% include common-info.html %}

<section class="container">
  <div class="row card-group company-types">
  {% for item in site.data.professional.sections.company-types %}
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card text-center">
      <div class="card-header d-flex flex-column justify-content-center align-items-center">
        <h5 class="card-title">{{ item.title }}</h5>
      </div>
      <div class="card-body">
        {% for item in item.image %}
        <img src="{{ site.baseurl }}/{{ item.source }}" class="img-fluid" alt="{{ item.alt }}">
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</section>