<!-- Facebook Customer Chat -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="107582347748467"
  theme_color="#4786B3"
  logged_in_greeting="Bonjour ! Comment pouvons-nous vous aider ?"
  logged_out_greeting="A bientôt !">
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Site réalisé par <a href="{{ site.data.author.info.website}}" target="_blank">{{ site.data.author.info.company-name }}</a>
    </p>
  </div>
  <!-- /.container -->
</footer>