<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Site réalisé par <a href="{{ site.data.author.info.website}}" target="_blank">{{ site.data.author.info.company-name }}</a>
    </p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ site.baseurl }}/assets/vendor/jquery/jquery-3.5.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
  $(document).ready(function(){
      $("#email-form").submit(function(event){
          event.preventDefault();
          let form_url = $(this).attr("action"); //récupérer l'URL du formulaire
          let form_method = $(this).attr("method"); //récupérer la méthode GET/POST du formulaire
          let form_data = $(this).serialize(); //Encoder les éléments du formulaire pour la soumission
          $.ajax({
              type: form_method,
              url: form_url,
              data: form_data,
              success: function(data){
                  let alert_box = $(".form-submission-message");
                  alert_box.addClass("alert-success");
                  alert_box.text(data);
                  alert_box.fadeIn(1000);
              },
              error: function(data){
                  let alert_box = $(".form-submission-message");
                  alert_box.addClass("alert-danger");
                  alert_box.text(data);
                  alert_box.fadeIn(1000);
              }
          });
      });
  });
</script>