<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="author" content="{{ site.data.author.info.name }}" />

  <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% endif %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />

  <!-- Glightbox -->
  <link href="{{ site.baseurl }}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
</head>
