{% if page.url == "/" %}
  {% assign header = "main-header" %}
  {% assign title  = site.data.header-info.home.title %}
  {% assign subtitle = site.data.header-info.home.subtitle %}
{% elsif page.url == "/particuliers/lavage-auto/" %}
  {% assign header = "service-header" %}
  {% assign title  = site.data.individual.header.title %}
  {% assign subtitle = site.data.individual.header.subtitle %}
{% elsif page.url == "/professionnels/lavage-auto/" %}
  {% assign header = "service-header" %}
  {% assign title  = site.data.professional.header.title %}
  {% assign subtitle = site.data.professional.header.subtitle %}
{% elsif page.url == "/contact/" %}
  {% assign header = "service-header" %}
  {% assign title  = site.data.header-info.contact.title %}
  {% assign subtitle = site.data.header-info.contact.subtitle %}
{% endif %}

<!-- Header -->
<header class="{{ header }} bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="hero-unit col-lg-12 text-center">
        <h1 class="display-4 mt-5 mb-2">
          {{ title }}
        </h1>
        <p class="mb-5">
          {{ subtitle }}
        </p>
      </div>
    </div>
  </div>
</header>
